@import "tailwindcss" prefix(ritext);

@layer utilities {
    button {
        @apply ritext:cursor-pointer;
    }
    .ProseMirror p {
        @apply ritext:leading-relaxed ritext:mb-1.5 ritext:first:mt-0 ritext:last:mb-0;
    }

    .ProseMirror > p {
        @apply ritext:mb-1.5 ritext:first:mt-0 ritext:last:mb-0;
    }

    .ProseMirror h1 {
        @apply ritext:text-3xl;
    }

    .ProseMirror h2 {
        @apply ritext:text-2xl;
    }

    .ProseMirror h3 {
        @apply ritext:text-xl;
    }

    .ProseMirror h4 {
        @apply ritext:text-lg;
    }

    .ProseMirror h5 {
        @apply ritext:text-base;
    }

    .ProseMirror h6 {
        @apply ritext:text-sm;
    }

    .ProseMirror h1,
    .ProseMirror h2,
    .ProseMirror h3,
    .ProseMirror h4,
    .ProseMirror h5,
    .ProseMirror h6 {
        @apply ritext:font-bold ritext:first:mt-0 ritext:last:mb-0;
    }

    .ProseMirror h1,
    .ProseMirror h2,
    .ProseMirror h3 {
        @apply ritext:mt-12;
    }

    .ProseMirror h4,
    .ProseMirror h5,
    .ProseMirror h6 {
        @apply ritext:mt-8;
    }

    .ProseMirror a.link {
        @apply ritext:text-blue-500 ritext:font-extrabold ritext:dark:text-blue-400 ritext:cursor-pointer;
    }

    .ProseMirror mark {
        @apply ritext:bg-red-500 ritext:rounded-sm ritext:[box-decoration-break:clone] ritext:text-inherit ritext:py-1 ritext:px-0 ritext:dark:bg-red-400;
    }

    .ProseMirror hr {
        border-color: rgb(216, 216, 216);
    }

    /* Indent (base = 2em, max = 7) */
    .ProseMirror *[data-indent='1'] {
        text-indent: 2em !important;
    }
    .ProseMirror *[data-indent='2'] {
        text-indent: 4em !important;
    }
    .ProseMirror *[data-indent='3'] {
        text-indent: 6em !important;
    }
    .ProseMirror *[data-indent='4'] {
        text-indent: 8em !important;
    }
    .ProseMirror *[data-indent='5'] {
        text-indent: 10em !important;
    }
    .ProseMirror *[data-indent='6'] {
        text-indent: 12em !important;
    }
    .ProseMirror *[data-indent='7'] {
        text-indent: 14em !important;
    }

    .ProseMirror iframe {
        @apply ritext:w-full ritext:mt-2 ritext:rounded-sm ritext:h-full ritext:border ritext:border-gray-200;
    }

    /* Block Quote */
    .ProseMirror blockquote {
        @apply ritext:border-l-4 ritext:text-black ritext:border-l-neutral-700 ritext:py-2 ritext:px-4 ritext:rounded-lg ritext:rounded-tl-none ritext:rounded-bl-none;
        @apply ritext:dark:border-l-neutral-300 ritext:dark:text-white;
    }

    .ProseMirror code {
        @apply ritext:caret-white ritext:text-white ritext:bg-neutral-900 ritext:rounded-sm ritext:shadow-lg ritext:font-mono;
    }

    .ProseMirror pre {
        @apply ritext:caret-white ritext:bg-neutral-700 ritext:text-white ritext:rounded ritext:my-12 ritext:p-4 ritext:border ritext:border-black ritext:dark:bg-neutral-900 ritext:dark:border-gray-200;
    }

    .ProseMirror pre code {
        @apply ritext:bg-inherit ritext:text-inherit ritext:p-0 ritext:shadow-none;
    }

    /* List */
    .ProseMirror ol {
        @apply ritext:list-decimal;
    }

    .ProseMirror ul {
        @apply ritext:list-disc;
    }

    .ProseMirror ul,
    .ProseMirror ol {
        @apply ritext:py-0 ritext:px-8 ritext:my-6 ritext:first:mt-0 ritext:last:mb-0;
    }

    .ProseMirror ul ul,
    .ProseMirror ul ol,
    .ProseMirror ul li,
    .ProseMirror ol ul,
    .ProseMirror ol ol,
    .ProseMirror ol li {
        @apply ritext:my-1;
    }

    .ProseMirror ul p,
    .ProseMirror ol p {
        @apply ritext:mt-0 ritext:mb-1;
    }

    .ProseMirror > ul,
    .ProseMirror > ol {
        @apply ritext:my-8 ritext:first:mt-0 ritext:last:mb-0;
    }

    .ProseMirror {
        @apply ritext:w-full!;
    }

    .ProseMirror ul[data-type='taskList'] {
        @apply ritext:list-none ritext:p-0;
    }

    .ProseMirror ul[data-type='taskList'] p {
        @apply ritext:m-0;
    }

    .ProseMirror ul[data-type='taskList'] li {
        @apply ritext:flex;
    }

    .ProseMirror ul[data-type='taskList'] li > label {
        @apply ritext:grow-0 ritext:shrink-0 ritext:flex-auto ritext:inline ritext:mr-2 ritext:select-none;
    }

    .ProseMirror ul[data-type='taskList'] li > div {
        @apply ritext:flex-auto;
    }

    .ProseMirror ul[data-type='taskList'] li[data-checked='true'] {
        @apply ritext:line-through;
    }

    /* Table */
    .tableWrapper {
        overflow: hidden;
    }

    .ProseMirror table {
        border-collapse: collapse;
        margin: 0;
        overflow: hidden;
        table-layout: fixed;
        width: 100%;
    }

    .ProseMirror .selectedCell {
        background: rgba(156, 163, 175, 0.25);
    }
    .ProseMirror .selectedCell::after {
        content: "";
        position: absolute;
        inset: 0;
        pointer-events: none;
        outline: 1px solid rgba(156, 163, 175, 0.7);
    }

   .ProseMirror p.is-empty::before,
    .ProseMirror h1.is-empty::before,
    .ProseMirror h2.is-empty::before,
    .ProseMirror h3.is-empty::before,
    .ProseMirror h4.is-empty::before,
    .ProseMirror h5.is-empty::before,
    .ProseMirror h6.is-empty::before {
        color: #adb5bd;
        content: attr(data-placeholder);
        float: left;
        height: 0;
        pointer-events: none;
    }
    
    .ProseMirror table td,
    .ProseMirror table th {
        border: 1px solid;
        @apply ritext:border ritext:border-black/10 ritext:p-2 ritext:box-border ritext:relative ritext:text-left ritext:align-top;
    }

    .ProseMirror table td:first-of-type:not(a),
    .ProseMirror table th:first-of-type:not(a) {
        @apply ritext:mt-0;
    }

    .ProseMirror table td p,
    .ProseMirror table th p {
        @apply ritext:m-0;
    }

    .ProseMirror table td p + p,
    .ProseMirror table th p + p {
        @apply ritext:mt-3;
    }

    .ProseMirror table th {
        @apply ritext:font-bold ritext:text-left;
    }

    .ProseMirror table .column-resize-handle {
        background-color: black;
        bottom: -2px;
        pointer-events: none;
        position: absolute;
        right: -2px;
        top: 0;
        width: 4px;
    }
    .ProseMirror.resize-cursor {
        cursor: ew-resize;
        cursor: col-resize;
    }

    .ProseMirror :first-child {
        margin-top: 0;
    }

    /* List styles */
    .ProseMirror ul,
    .ProseMirror ol {
        padding: 0 1rem;
        margin: 1.25rem 1rem 1.25rem 0.4rem;
    }

    .ProseMirror ul li p,
    .ProseMirror ol li p {
        margin-top: 0.25em;
        margin-bottom: 0.25em;
    }

    /* Task list specific styles */
    .ProseMirror ul[data-type='taskList'] {
        list-style: none;
        margin-left: 0;
        padding: 0;
    }

    .ProseMirror ul[data-type='taskList'] li {
        align-items: flex-start;
        display: flex;
    }

    .ProseMirror ul[data-type='taskList'] li > label {
        flex: 0 0 auto;
        margin-right: 0.7rem;
        user-select: none;
    }

    .ProseMirror ul[data-type='taskList'] li > div {
        flex: 1 1 auto;
        margin-top: -2px;
    }

    .ProseMirror ul[data-type='taskList'] input[type='checkbox'] {
        cursor: pointer;
    }

    .ProseMirror ul[data-type='taskList'] ul[data-type='taskList'] {
        margin: 0;
    }
}
